.docs-template {
  display: grid;
  grid-template-columns: 240px auto;
}
.docs-navigation {
  background: #f2f2f2;
  padding: 25px;
}
.docs-content {
  padding: 25px;
}

@media screen and (max-width: 40em) {
  .docs-template {
    grid-template-columns: auto;
  }
  .docs-navigation {
    // display: none;
  }
}