.header {
  background: rebeccapurple;
  grid-column: 1 / -1;
  display: flex;
  padding-left: 25px;
  align-items: center;
  height: 100%;
}
.header-nav {
  padding: 25px;
}
.title {
  margin: 0 0 0 10px;
  font-size: 18px;
  letter-spacing: 0.02px;
  font-weight: 200;
  display: inline-block;
}
.nav-logo {
  max-width: 120px;
  margin: 0;
  display: inline-block;
}